*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(img/bmw.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
}
header{
    position: fixed;
    display: flex;
    background-color:white;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    height: 60px;
}
#logo a{
    color:black;
    padding-left: 30px;
    font-size: 39px;
}
.material-icons{
    color: rgb(68, 32, 141);
    font-size: 32px;
}

.navbar{
    margin-right: 60px;
    display: inline-block;
    margin: 8px;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}
.navbar a{
    color: black;
    
}
.navbar a:hover {
    background-color:black;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px;
    color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.debutcorps {
    height: 580px;
    background-size: cover;
    padding-top: 170px;
    padding-left: 160px;
}

h1{
    color: white;
    font-family::'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;           
    margin-left: 120px;
    font-size: 60px;
    font-weight: bold;
    text-align: justify;
    padding: 150px 0 0 5px;
    font-size: 50px;
}

h4{
    color:goldenrod;
    margin-left: 120px;
    text-transform: uppercase;
    font-size: 30px;
    text-align: justify;
    padding: 5px;
    font-size: 25px;
}
.button{
    margin-top: 20px;
    padding: 5px;
    letter-spacing: 2px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left: 123px;
    font-weight: bold;
}

.button a{
    color: white; 

}
.button:hover {
    color: white;
    background-color: black;
}

.button a:hover {
    color: white;
    background-color: black;

}

.carres {
    text-align: left;
    display: flex;
    margin-top: 340px; 
    margin-left: 20px;
    margin-right: 20PX;
}

.carre {
    background-color: transparent;
    height: 230px;
    width: 400px;
    border: solid 2px white;
    border-radius: 6px;
    padding: 15px;
    margin: 15px;
}

.carre h3 a{
    color: white;
    font-size: 25px;
}

.carre p {
    color: black;
    font-size: 20px;
}

.carre i {
    color: goldenrod;
    font-size: 40px;
}
.carre:hover{
    background-color: rgba(153, 145, 145,0.6);

}

h3 a:hover{
    color: black;
}
.button2{
    text-align: center;
    padding: 5px;
    letter-spacing: 4px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-left: 123px;
    font-weight: bold;
    font-family::'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;           
    font-size: 18px;
    text-align: justify;
    padding: 5px 15px 5px 20px;
}
.button2 a{
    color: white; 

}
.button2:hover {
    color: white;
    background-color: black;
}

.button2 a:hover {
    color: white;
    background-color: black;

}
.button2 .material-icons{
    color: white;   
    font-size: 18px;
    padding-right: 9px;
}
.right{
    float:right;
    margin-right: 40px;
    margin-top: 90px;

}